.landing-container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--light-colour);
}

.landing-title {
    font-size: 400%;
}

.landing-text {
    font-size: 200%;
    padding-bottom: 1rem;
}

.landing-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.landing-btn {
    background-color: #9FC5E0;
    border-radius: 5px;
    border: none;
    padding: 1rem 2.5rem;
    width: 15rem;

}

.landing-btn:hover {
    background-color: #6aabda;
}

a.landing-btn {
    text-decoration: none;
    color: var(--dark-colour);
}