.landing-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #F4F3EE;
}

.landing-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items:center;
}

.landing-btn {
    background-color: #9FC5E0;
    border-radius: 5px;
    border: none;
    padding: 1rem 2.5rem;
    width: 15rem;
    
}

.landing-btn:hover {
    background-color: #6aabda;
}