.login-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #F4F3EE;
}

.input-section {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    gap:1rem;
    width: 500px;
    align-items: center;
    border-radius: 10px;
}

.input-field {
    padding: 0.8rem 0.8rem;
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.login-button {
    background-color: #9FC5E0;
    border-radius: 5px;
    border: none;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem;
    width: 10rem;
    font-size: 1.1rem;
}

.login-button:hover {
    background-color: #6aabda;
}

.register-text {
    margin-top:0;
}
.register-text a {
    text-decoration: none;
    color: var(--dark-colour);
}